<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fake Review Detection System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>Fake Review Detection System</h1>
    <p class="subtitle">
        Backend API is running successfully
    </p>

    <div class="card">
        <h2>Available API Endpoints</h2>
        <ul>
            <li><strong>POST</strong> /products</li>
            <li><strong>POST</strong> /products/&lt;product_id&gt;/reviews</li>
            <li><strong>GET</strong> /products/&lt;product_id&gt;</li>
            <li><strong>DELETE</strong> /products/&lt;product_id&gt;</li>
            <li><strong>DELETE</strong> /reviews/&lt;review_id&gt;</li>
        </ul>
    </div>

    
    
</div>

</body>
</html>
